In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

1. Write a code to print the data present in the second row of the dataframe, df.

In [21]:
print(df.iloc[1:2])

        course_name  duration
1  Machine Learning         3

2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc
---> loc is label-based, meaning that you can use row and column labels to index a DataFrame. For example, df.loc[row_label, col_label] selects the rows and columns with the specified labels. loc can also accept boolean arrays as indices.

iloc
---> iloc is integer-based, meaning that you can use integer indices to index a DataFrame. For example, df.iloc[row_index, col_index] selects the rows and columns with the specified integer indices. iloc can also accept boolean arrays as indices.

3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [24]:
reindex = [3,0,1,2]

new_df = df.reindex(reindex)

print('Output of loc\n',new_df.loc[2])
print('\n')
print('Output of iloc\n',new_df.iloc[2])

Output of loc
 course_name    Big Data
duration              6
Name: 2, dtype: object


Output of iloc
 course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [25]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

4. Write a code to find the following statistical measurements for the above dataframe df1:
    
    (i) mean of each and every column present in the dataframe.
    
    (ii) standard deviation of column, ‘column_2’

In [35]:
#(i)

print('Mean of every column in the dataframe.\n\n',df1.mean())
print('\n\n')

#(ii)

print('Standard Deviation of column_2\n\n',df1['column_2'].std())

Mean of every column in the dataframe.

 column_1    0.605211
column_2    0.403587
column_3    0.734446
column_4    0.335983
column_5    0.686319
column_6    0.271092
dtype: float64



Standard Deviation of column_2

 0.31996089548851697

5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

In [68]:
# df1

str1 = 'hello'

df1.loc[2,'column_2'] = str1

print(df1['column_2'].mean())

TypeError: unsupported operand type(s) for +: 'float' and 'str'

---> It is giving error becuase we are trying to calculate the mean of the column which contanins float and string both datatype.

6. What do you understand about the windows function in pandas and list the types of windows
functions?

---> Pandas provides a number of built-in window functions that can be applied to a DataFrame or Series using the rolling or expanding methods. Some common window functions are given below.

1) mean()
2) sum()
3) min()
4) max()
5) counr()

7. Write a code to print only the current month and year at the time of answering this question.

In [77]:
import pandas as pd

df2 = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02','2023-01-03','2023-01-04','2023-01-05']})

df2['Month'] = pd.to_datetime(df2['Date']).dt.month

df2['Year'] = pd.to_datetime(df2['Date']).dt.year

print(df2)

         Date  Month  Year
0  2023-01-01      1  2023
1  2023-01-02      1  2023
2  2023-01-03      1  2023
3  2023-01-04      1  2023
4  2023-01-05      1  2023

8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [79]:
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

delta = date2 - date1


days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds // 60) % 60

print('Days : ',days,'Hours : ',hours,'Minutes : ',minutes)

Enter the first date (YYYY-MM-DD):  2023-02-10
Enter the second date (YYYY-MM-DD):  2023-02-11

Days :  1 Hours :  0 Minutes :  0

9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [80]:
def readFile():
    filePath = input('Enter File Path : ')
    columnName = input('Enter column name : ')
    catColumn = input('Enter catagory of new column : ')

    df3 = pd.read_csv(filePath)

    df[columnName] = pd.Categorical(df[columnName], categories=catColumn)

    df=df.sort_values(by=columnName)
    print(df)

10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [81]:
import matplotlib.pyplot as plt

def makeChart():
    filePath = input('Enter File Path : ')
    salesColumn = input('Enter name of column of sales data : ')
    timeColumn = input('Enter name of column of time : ')
    
    df4 = pd.read_csv(filePath)
    
    x = df4[salesColumn]
    y = df4[timeColumn]
    
    plt.stackplot()

11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
def getStudentDetails():
    df = pd.read_csv('student_data.csv')
    
    mn = df['Test Score'].mean()
    med = df['Test Score'].median()
    mod = df['Test Score'].mode()
    
    df2 = pd.DataFrame({'Mean':mn,'Median':med,'Mode':mod})
    print(df2)                       
    

getStudentDetails()